.post-form-section {
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 90%;
}

.post-textarea {
  margin-bottom: 1rem;
}

textarea {
  width: 70%;
  font-size: 1rem;
  height: 15vh;
  padding: 1rem; /* Increased padding for better spacing */
  border: 2px solid #ddd; /* Increased border size for better visibility */
  border-radius: 8px; /* Increased border-radius for rounded corners */
}

textarea::placeholder {
  font-size: 1rem;
  font-weight: 700;
}

.post-options {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

select {
  padding: 15px; /* Increased padding for better spacing */
  border: 2px solid #ddd; /* Increased border size for better visibility */
  border-radius: 8px; /* Increased border-radius for rounded corners */
  width: 200px;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 0.65rem;
}

.section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 15px;
  margin-left: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  width: 70%;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.section-div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button-section {
  display: flex;
  gap: 1rem;
}

.section h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

.section span {
  font-weight: 500;
  font-size: 0.9rem;
}

.section p {
  margin-bottom: 1rem;
  word-wrap: break-word;
}

#button-likes {
  display: flex;
  align-items: center;
  border: 1px solid #1f1f1f;
  padding: 5px 25px;
  cursor: pointer;
  background-color: transparent;
  color: #1f1f1f;
  gap: 0.5rem;
}

#button-delete {
  background-color: #ba3333;
  color: #fff;
  padding: 5px 25px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  form {
    width: 100%;
  }

  h2 {
    margin-left: 1rem;
  }

  .section {
    width: 90%;
  }

  .post-form-section {
    width: 100%;
  }
  .post-textarea,
  .post-options {
    width: 90%;
    margin: 0 auto;
    gap: 1rem;
  }

  textarea {
    width: 100%;
  }
}
