.footer {
  background-color: var(--secondary-color);
  margin-top: 10rem;
  max-width: 100vw;
  display: flex;
  position: sticky;
  align-content: center;
  padding: 2rem 0;
  flex-wrap: wrap;
}

.footerSection {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin: auto 0;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer h3 {
  margin-bottom: 0.55rem;
}

.footer p {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.footer section:last-child {
  align-self: flex-end;
  margin-right: 1rem;
}

.footer select {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color);
  padding: 0.5rem 3rem;
  font-size: 1.35rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .footer p {
    margin-left: 1rem;
  }

  .footerSection {
    padding-bottom: 7rem;
  }
}
