.postFormSection {
  margin-top: 5rem;
  width: 90%;
}

.postTextarea {
  margin-bottom: 1rem;
}

.postFormSection textarea {
  width: 70%;
  resize: none;
  font-size: 1rem;
  height: 15vh;
  padding: 1rem; /* Increased padding for better spacing */
  border: 2px solid #ddd; /* Increased border size for better visibility */
  border-radius: 8px; /* Increased border-radius for rounded corners */
}

.postFormSection textarea::placeholder {
  font-size: 1rem;
  font-weight: 700;
}

.postFormSection .postOptions {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.postFormSection select {
  padding: 15px; /* Increased padding for better spacing */
  border: 2px solid #ddd; /* Increased border size for better visibility */
  border-radius: 8px; /* Increased border-radius for rounded corners */
  width: 200px;
}

.homeMain h2 {
  font-size: 2.25rem;
  margin-top: 2.35rem;
  margin-bottom: 0.65rem;
}

.postSection {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 15px;
  margin-left: 5px;
  min-width: 250px;
  width: 70%;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.postSection .postSectionDiv {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.postSectionDiv img {
  border-radius: 50%;
  border: 2px solid #1f1f1f;
}

.buttonSection {
  display: flex;
  gap: 1rem;
}

.postSection h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

.timeStamp {
  font-weight: 500;
  font-size: 0.9rem;
}

.postSection p {
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.likeButton {
  display: flex;
  align-items: center;
  border: 1px solid #1f1f1f;
  padding: 5px 25px;
  cursor: pointer;
  background-color: transparent;
  color: #1f1f1f;
  gap: 0.5rem;
}

.deleteButton {
  background-color: #ba3333;
  color: #fff;
  padding: 5px 25px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .homeMain form {
    width: 100%;
  }

  .homeMain h2 {
    margin-left: 1rem;
  }

  .homeMain .postSection {
    width: 90%;
  }

  .homeMain .postFormSection {
    width: 100%;
  }
  .homeMain .postTextarea,
  .homeMain .postOptions {
    width: 90%;
    margin: 0 auto;
    gap: 1rem;
  }

  .homeMain textarea {
    width: 100%;
  }
}
