.authMain {
  width: 100vw;
}

.authMain section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  margin: 5rem auto;
}

.authMain h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.authMain p {
  color: #1c1e21;
  font-size: 16px;
  margin-bottom: 20px;
}
