.settingMain {
  display: flex;
  padding-top: 2rem;
  gap: 2rem;
}

.navContainer {
  width: 30%;
  height: 30vh;
  min-height: 300px;
  position: sticky;
  top: 20%;
}

.settingContainer {
  width: 65%;
}

.settingsNav {
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  max-width: 300px;
  gap: 5%;
  width: 100%;
}

.settingsNav ul {
  list-style: none;
}

.notificationSection {
  width: 65%;
}

.settingsNav ul {
  width: 100%;
  list-style: none;
}

.settingsNav ul li a:link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  padding: 1.15rem;
}

.settingsNav ul li a:link {
  width: 100%;
}

.settingsNav ul li:hover {
  background-color: grey;
}

.notificationMain article {
  width: 100%;
}

.settingSection section {
  flex: 1;
  order: 1; /* Set the order to 1 to move it to the right */
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 3rem;
}

.settingSection textarea {
  width: 100%;
  padding: 15px; /* Increased padding for better spacing */
  border-radius: 8px; /* Increased border-radius for rounded corners */
  resize: none;
  height: 20vh;
  font-size: 1rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.settingSection section:nth-child(2) {
  order: 2; /* Set the order to 2 to move it to the left */
}

.settingSection h2 {
  font-size: 2rem;
  margin-bottom: 1.1rem;
}

.settingSection h3 {
  font-size: 1.45rem;
  margin-bottom: 0.3rem;
}

.settingSection p {
  margin-bottom: 15px;
  font-size: 1.25rem;
}

.personalInfoText {
  font-weight: 600;
}

.settingSection button {
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.deleteButton {
  background-color: var(--dangerous-color) !important;
}

@media screen and (max-width: 900px) {
  .settingContainer {
    width: 84%;
  }
  .settingMain h2 {
    display: none;
  }
  .navContainer {
    top: 5rem;
    margin-top: 5rem;
    width: 10%;
  }
}

@media screen and (max-width: 600px) {
  .navContainer {
    width: 20%;
  }
}
