:root {
  --dangerous-color: #ba3333;
  --text-color: #fefcfb;
  --primary-color: #222831;
  --secondary-color: #393e46;
  --accent-color: #00adb5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-break: loose;
}

html {
  font-family: var(--font-poppins), sans-serif;
  min-height: 90vh;
  background-color: var(--primary-color);
  color: var(--text-color);
}

body {
  font-size: 16px;
}

main {
  min-height: 88vh;
}

.main-header {
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  background-color: var(--secondary-color);
}

.main-header h1 {
  display: flex;
  align-items: center;
  width: 20%;
  max-width: 100px;
}

.main-header a:link {
  display: flex;
  align-items: center;
}

.main-header img {
  width: 100%;
  height: auto;
}

.searchInput {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  gap: 0.5rem;
}

.searchInput input {
  max-width: 300px;
}

.searchButton {
  padding: 0.5rem 1rem;
}

.container {
  display: flex;
  gap: 5%;
  padding-top: 6rem;
}

.session-header {
  width: 20%;
  position: sticky;
  top: 14%;
  height: 50vh;
}

.session-header nav {
  background-color: var(--secondary-color);
  padding: 1rem 0;
}

.session-header nav ul {
  width: 90%;
  margin-left: 5%;
  list-style: none;
}

.session-header nav ul li {
  border-radius: 10rem;
  margin-bottom: 0.5rem;
}

.session-header nav ul li a:link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
}

.session-header nav ul li a:link {
  width: 100%;
}

.session-header nav ul li:hover {
  background-color: gray;
}

main {
  width: 75%;
}

a {
  color: inherit;
  text-decoration: none;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

label {
  display: block;
  margin-bottom: 10px; /* Increased margin-bottom for better spacing */
  color: var(--text-color);
  font-weight: bold;
}

input {
  width: 100%;
  max-width: 400px;
  padding: 15px; /* Increased padding for better spacing */
  border: 2px solid var(--primary-color); /* Increased border size for better visibility */
  border-radius: 8px; /* Increased border-radius for rounded corners */
  background-color: var(--primary-color);
  color: var(--text-color);
}

.field-div {
  margin-bottom: 3rem; /* Increased margin-bottom for better spacing */
}

.server-message-error {
  color: var(--dangerous-color);
  background-color: #f8d7da;
  border-radius: 8px;
  margin: 1rem auto;
  padding: 0.7rem;
  font-size: 1rem !important;
}

.server-message-success {
  color: #155724;
  background-color: #d4edda;
  border-radius: 8px;
  margin: 1rem auto;
  padding: 0.7rem;
  font-size: 1rem !important;
}
.field-error {
  color: var(--dangerous-color) !important;
  font-size: 16px;
  margin-top: 10px;
}

button {
  padding: 10px 50px; /* Increased padding for a larger button */
  border: 0;
  border-radius: 12px; /* Increased border-radius for rounded corners */
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: bold;
  font-size: 20px; /* Increased font size */
  transition: all 0.5s;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

button:active {
  transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

@media screen and (max-width: 900px) {
  .container {
    gap: 0.5rem;
  }
  main {
    width: 90%;
  }

  .session-header {
    width: 10%;
  }

  .session-header nav ul li a:link {
    padding: 0.75rem;
    justify-content: center;
    align-content: center;
    margin-bottom: 1rem;
  }

  nav .MuiSvgIcon-root {
    font-size: 2rem;
  }

  nav a p {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
  }

  main {
    width: 100%;
    padding-bottom: 5rem;
  }

  .session-header {
    width: 100vw;
    position: fixed;
    display: flex;
    top: 87%;
    z-index: 100;
  }

  .session-header h1 {
    display: none;
  }

  .session-header nav {
    width: 100%;
  }

  .session-header nav ul {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
  }

  .session-header nav ul li a:link {
    padding: 0.5rem;
    justify-content: center;
    margin-bottom: 0;
  }

  .session-header nav ul li {
    border-radius: 0%;
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  input,
  select,
  textarea {
    font-size: 11px;
  }

  input:focus,
  select:focus,
  textarea:focus {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
