.homeMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5%;
  width: 100vw;
  min-height: 80vh;
}

.homeMain section {
  width: 45%;
  min-width: 250px;
}

.homeMain h1 {
  font-size: 40px; /* Increased font size */
  margin-bottom: 20px; /* Increased margin-bottom for better spacing */
}

.homeMain p {
  font-size: 20px; /* Increased font size */
  margin: 0;
}

.homeMain h2 {
  font-size: 28px; /* Increased font size */
  margin-bottom: 30px; /* Increased margin-bottom for better spacing */
}

.homeMain form {
  background-color: var(--secondary-color);
  border-radius: 3%; /* Increased border-radius for rounded corners */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Increased box-shadow for a more pronounced effect */
  padding: 5%; /* Increased padding for a larger box */
}

.homeMain button {
  padding: 10px 50px; /* Increased padding for a larger button */
  border: 0;
  border-radius: 12px; /* Increased border-radius for rounded corners */
  font-weight: bold;
  font-size: 20px; /* Increased font size */
  transition: all 0.5s;
}

.homeMain button:active {
  transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.homeMain button:last-child {
  background-color: #000000;
}

.homeMain button:last-child:hover {
  background-color: #ca4ca0;
}

@media screen and (max-width: 700px) {
  .homeMain section {
    width: 90%;
    margin-bottom: 3rem;
  }
}
